/**
             CSS PROPERTIES
1. General CSS 			 
2. Display Table CSS
3. Common CSS
4. Width CSS
**/
/****************** 1. General CSS Start**********************/
*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}
html{
	font-family: 'Lato', sans-serif;
	font-size:16px;
}
html,body{
	width:100%;
	height:100%;
	background-color:#F6F6F6;
}
/****************** 1. General CSS End**********************/

/****************** 2. Display Table Start**********************/
.disp-table{
	display:table;
	width:100%;
}
.disp-table.fit-height{
	height:100%;
}
.disp-table > .disp-cell{
	display:table-cell;
}
/****************** 2. Display Table End**********************/

/****************** 3. Commmon CSS Start**********************/
.v-middle{
	vertical-align:middle;
}
.v-top{
	vertical-align:top;
}
.disp-in-block{
	display:inline-block
}

/****************** 3. Common CSS End**********************/

/****************** 4. Width CSS Start**********************/
.wper-1{
	width:1%;
}
/****************** 4. Width CSS End**********************/

/****************** 5. Button CSS Start**********************/
.btn{
	display:inline-block;
	padding:0.62em 1.25em;
	text-align:center;
	white-space: nowrap;
	user-select: none;
    background-image: none;
    border: 1px solid transparent;
	text-transform:uppercase;
	cursor:pointer;
	font-weight:600;
	font-size:1em;
}
.btn.dark{
	background-color:#333647;
	color:white;
}
/****************** 5. Button CSS End**********************/